
spring.datasource.url= jdbc:mysql://localhost:3306/
spring.datasource.username=shaldnikita
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=create
org.hibernate.dialect = MySQLDialect

vaadin.servlet.params.widgetset=vaadin.widgetset.MapsWidgetSet

